.fightarea {
     display:  flex;
     gap: 200px;
}

#char,
#monster {
     flex: 1;
     font-size: 22px;
}

.lifebar {
     height: 10px;
     border: 1px solid #333;
     border-radius: 5px;
}

.lifebar .bar {
     height: inherit;
     background-color:#00b200;
     border-radius: 5px;
}


.log {
     border: 1px dotted #999;
     height: calc(100vh - (88px + 18px));
     overflow-y: scroll;
}
.log li {
     list-style: none;
     font-size: 20px;
     padding: 5px 0;
}